[Desktop Entry]
Type=Application
Name=QuickShare
GenericName=Nearby file sharing
Comment=Share files with nearby Android, Windows, and Mac devices
Exec=quickshare gui
Icon=dev.dhivalabs.quickshare
StartupWMClass=dev.dhivalabs.quickshare
Terminal=false
Categories=Network;FileTransfer;GTK;
StartupNotify=true
Keywords=nearby;share;quickshare;airdrop;
