[Desktop Entry]
Type=Application
Name=NearShare
GenericName=Nearby file sharing
Comment=Share files with nearby Android, Windows, and Mac devices
Exec=nearshare gui
Icon=dev.dhivalabs.nearshare
StartupWMClass=dev.dhivalabs.nearshare
Terminal=false
Categories=Network;FileTransfer;GTK;
StartupNotify=true
Keywords=nearby;share;nearshare;airdrop;
