[Desktop Entry]
Type=Application
Name=QuickShare Toggle Visibility
Comment=Toggle whether this machine is visible to nearby devices
Exec=quickshare toggle
Icon=dev.dhivalabs.quickshare
Terminal=false
NoDisplay=true
Categories=Network;FileTransfer;
